
		* {
			padding: 0;
			margin: 0;
			border: 0
		}

		a {
			text-decoration: none;
			color: inherit
		}

		body {
			font-family: Inter;
			color: #000;
			box-sizing: border-box;
			background: #f5f5f5
		}

		[class*="__container"] {
			max-width: 745px;
			box-sizing: content-box;
			margin: 0 auto;
			padding: 0 30px
		}

		.header {
			padding: 16px 0
		}

		.header__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1114px;
			padding: 0 16px;
			margin: 0 auto
		}

		.header__logo {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			position: relative;
			z-index: 11
		}

		.header__logo img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: red;
			margin-right: 10px
		}

		.header-menu__link {
			font-weight: 500;
			font-size: 16px
		}

		.banner {
			background: #262537;
			display: block;
			padding: 16px
		}

		.banner__body {
			display: flex;
			align-items: center;
			max-width: 745px;
			margin: 0 auto;
			justify-content: space-between
		}

		.banner__left {
			display: flex;
			align-items: center
		}

		.banner__left img {
			width: 85px;
			height: 85px;
			margin-right: 16px
		}

		.banner__left span {
			display: block;
			font-weight: 700;
			color: #fff;
			font-size: 20px
		}

		.content {
			margin: 24px 0
		}

		.content__container {
			background: #fff;
			border-radius: 8px;
			padding: 24px
		}

		.content__title {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 24px;
			line-height: 1.5
		}

		.content__text {
			margin-bottom: 16px;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px
		}

		.btn {
			text-transform: uppercase;
			padding: 16px 32px;
			font-size: 14px;
			background: #fd0001;
			font-weight: 500;
			border-radius: 32px;
			color: #fff;
			text-align: center;
			display: inline-block
		}

		.content__btn {
			margin-bottom: 20px
		}

		.table {
			margin: 16px 0;
			border-radius: 4px;
			border: 1px solid #c4c4c4;
			border-collapse: collapse;
			border-spacing: 0;
			text-align: left;
			font-size: 16px
		}

		.table__row:not(:last-child) {
			border-bottom: 1px solid #c4c4c4
		}

		.table__row.gray {
			background: #f8f8f8
		}

		.table__col {
			padding: 8px 16px
		}

		.table__col:not(:last-child) {
			border-right: 1px solid #c4c4c4
		}

		.table__col:last-child {
			font-weight: 400
		}

		.list {
			margin: 16px 0
		}

		.list-two {
			column-count: 2
		}

		.item {
			margin-bottom: 16px;
			padding-left: 40px;
			position: relative;
			list-style: none;
			font-weight: 300
		}

		.item::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			background: url("check.svg") no-repeat
		}

		.item a {
			color: #0000ee;
			text-decoration-line: underline
		}

		.header-check {
			opacity: 0;
			position: fixed;
			left: 100%
		}

		.figure {
			text-align: center;
			margin-bottom: 16px
		}

		.figure img {
			max-width: 100%;
			height: auto;
			min-height: auto
		}

		.figcaption {
			margin: 6px 0 13px;
			color: #555;
			font-size: 13px
		}

		.content__subtitle {
			font-size: 32px;
			margin-bottom: 16px;
			line-height: 1.5
		}

		.list-num {
			padding: 16px 20px;
			list-style-type: none;
			counter-reset: item
		}

		.item-num {
			position: relative;
			padding-left: 40px;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5
		}

		.item-num:not(:last-child) {
			margin-bottom: 16px
		}

		.item-num::before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			background: #26cf85;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0
		}

		.content__gallery {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr 1fr;
			gap: 8px
		}

		.content__gallery img {
			width: 100%;
			height: auto
		}

		.footer {
			padding: 32px 16px;
			border-top: 1px solid#c4c4c4;
			text-align: center
		}

		.footer__link {
			font-weight: 700;
			font-size: 20px;
			display: inline-block;
			margin-bottom: 32px
		}

		.footer__link:hover {
			color: red
		}

		.footer__text {
			font-size: 14px;
			line-height: 1.5
		}

		@media (max-width:1024px) {
			.footer__link {
				font-size: 16px;
				margin-bottom: 24px
			}

			.content__subtitle {
				font-size: 28px
			}
		}

		@media (max-width:768px) {
			.content__subtitle {
				margin-bottom: 12px
			}

			.content__text {
				font-size: 14px;
				margin-bottom: 12px
			}

			.table {
				font-size: 14px
			}

			.content__gallery {
				display: grid;
				grid-template-columns: repeat(2, 1fr)
			}

			.content__container {
				padding: 16px
			}

			.item-num {
				font-size: 14px
			}

			.banner__left img {
				display: none
			}

			.item-num:not(:last-child) {
				margin-bottom: 12px
			}

			.item {
				font-size: 14px
			}

			.btn {
				padding: 12px 24px
			}

			.list-num {
				padding: 16px 0
			}

			.list-two {
				column-count: 1
			}

			.table__col {
				padding: 8px 12px
			}

			.content__title {
				font-size: 30px;
				margin-bottom: 16px
			}

			.banner__left span {
				font-size: 14px;
				margin-right: 10px
			}

			.footer__link {
				font-size: 14px;
				margin-bottom: 12px
			}

			.header-menu {
				width: 38px;
				height: 26px;
				display: block;
				border: none;
				position: relative
			}

			.header-menu::after,
			.header-menu span,
			.header-menu::before {
				background: black;
				position: absolute;
				width: 100%;
				height: 3px
			}

			.header-menu span {
				top: 12px
			}

			.header-menu::after {
				content: '';
				bottom: 0;
				left: 0
			}

			.header-menu::before {
				content: '';
				top: 0;
				left: 0
			}

			.header-menu__wrapper {
				visibility: hidden;
				position: fixed;
				top: 0;
				z-index: 10;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: #fff;
				padding-top: 100px;
				text-align: center
			}

			.header-check:checked+.header-menu .header-menu__wrapper {
				visibility: visible
			}
		}